@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --primary-clr: rgb(255, 114, 58);
  --secondary-clr: rgb(144, 241, 135);
  --accent-clr: rgb(249, 249, 249);
  --bl-clr: rgb(15, 15, 15);
  --bl-clr-l: rgba(15, 15, 15, 0.281);
  --header-l: 9rem;
  --header-ss: 3.225rem;
  --header-s: 4rem;
  --hover-clr: rgb(235, 90, 32);
  --accent-bg: #f5f5f5;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: var(--primary-font);
}
a {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.2rem;
}
.header {
  height: auto;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 1rem; */
  margin-inline: 2.5rem;
  border-bottom: 1px solid var(--bl-clr-l);
}
.nav .logo h1 {
  font-family: var(--secondary-font);
}
.nav .logo h1 span {
  color: var(--primary-clr);
}
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block: 1rem;
}
.navbar li {
  position: relative;
}
.navbar li a {
  font-family: var(--primary-font);
}

.navlist {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  padding-block: 1rem;
}
.navlist:hover {
  color: var(--primary-clr);
}
.navlist__sub {
  position: absolute;
  display: none;
  background-color: var(--accent-bg);
  padding: 1rem 2rem;
  width: 300px;
  /* top: 35px; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.navlist:hover + .navlist__sub {
  display: block;
}
.navlist__sub:hover {
  display: block;
}
.navlist__sub p a {
  color: var(--bl-clr) !important;
}
.navlist__sub p {
  margin-block: 1rem;
  font-weight: 500;
}
.fa-solid {
  color: var(--primary-clr);
  margin-right: 10px;
}
.fa-copy,
.fa-arrows-rotate {
  font-size: 2rem;
  cursor: pointer;
}
.fa-copy:hover,
.fa-arrows-rotate:hover {
  color: var(--hover-clr);
}
.btn {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  background-color: var(--primary-clr) !important;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--accent-clr);
}
.btn:hover {
  background-color: var(--hover-clr) !important;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-inline: 4rem;
}
.banner .banner__description {
  margin: auto auto;
  min-width: 600px;
}
.banner .banner__image {
  z-index: -1;
}
.banner .banner__description h5 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.banner .banner__description h2 {
  font-size: var(--header-s);
}
.banner .banner__description p {
  margin-block: 2rem;
  font-size: 1.5rem;
}
.banner .banner__description .btn {
  margin-right: 3rem;
}
.banner .banner__description a:last-child {
  color: var(--bl-clr) !important;
}
.banner .banner__description a:last-child:hover {
  border-bottom: 2px solid var(--bl-clr-l);
}
.generator__container {
  background-color: var(--secondary-clr);
  padding-bottom: 3rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
  margin-top: 3rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.generator__header {
  max-width: 60rem;
  margin: 0 auto;
}
.generator__header h1 {
  text-align: center;
  font-size: var(--header-ss);
  padding: 2rem;
}
.text__field input {
  font-size: 3rem;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--accent-clr);
  border-bottom: 3px solid var(--primary-clr);
}
.text__field i {
  margin-left: 1rem;
}
.text__field {
  display: flex;
  align-items: center;
}
.text__field,
.generator__customization__container {
  max-width: 60rem;
  background-color: var(--accent-clr);
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem 3rem;
  margin-block: 2rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.generator__customization {
  margin-block: 4rem 1rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}
.generator__code h4,
.generator__radio h4,
.generator__checkbox h4 {
  margin-bottom: 1rem;
}
[type="radio"],
[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
[type="radio"]:checked,
[type="checkbox"]:checked {
  box-shadow: 0 0 0 1px var(--primary-clr);
  background-color: var(--primary-clr);
  border-width: 0.2rem;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #ff572233;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px #ff5722;
}
[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--primary-clr);
  background: #ff572233;
}
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.generator__checkbox div,
.generator__radio div,
.generator__code div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.generator__checkbox div input,
.generator__radio div input,
.generator__code div input {
  margin-right: 10px;
}
.copy-btn {
  text-align: center;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
